<HTML xmlns:th="http://thymeleaf.org">

<HEAD>

  <link rel="stylesheet" th:href="@{/style/main.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  </style>

</HEAD>

<BODY>
<div id="formDiv">
  <br>


  <table>
    <thead>
    <tr>
      <th>Added by:</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor ="let income of incomes">
      <td>{{income.users}}</td>
      <td>{{income.amount}}</td>
      <td>{{income.groupReason}}</td>
      <td>{{income.description}}</td>
      <td>{{income.insertDate}}</td>
    </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th>Added by:</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor ="let outcome of outcomes">
      <td>{{outcome.users}}</td>
      <td>{{outcome.amount}}</td>
      <td>{{outcome.groupReason}}</td>
      <td>{{outcome.description}}</td>
      <td>{{outcome.insertDate}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div id="formDiv">

<ngx-charts-bar-vertical 
    [view]="[1000,400]"
    [results]="incomes"
    [xAxisLabel]="'amount'"
    [legendTitle]="'Income'"
    [yAxisLabel]="'users'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical>
</div>

</BODY>

</HTML>
