body{
  background: bisque;
}

div{
  border-radius: 5%;
}

#incomeDiv{
  max-width: 850px;
  max-height: 500px;
  width: 45%;
  height: 50%;
  background-color: #85bb65;
  float: left;
  margin-left: 4%;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;


}
#outcomeDiv{
  max-width: 850px;
  max-height: 500px;
  width: 45%;
  height: 50%;
  background-color: #ff2800;
  float: left;
  margin-left: 2%;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;

}
#smallDiv{
  width: 19%;
  height: 20%;
  max-width: 4250px;
  max-height: 250px;
  background-color: #4d79ff;
  float: left;
  margin-top: 2%;
  margin-left: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
}
#longDiv{
  width: 49%;
  height: 20%;
  max-width: 1050px;
  max-height: 250px;
  background-color: #b3b3b3;
  float: left;
  margin-top: 2%;
  margin-left:2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
}
#setingsDiv{
  width: 20%;
  height: 20%;
  float: left;
  max-width: 1050px;
  max-height: 250px;
  margin-top: 2%;
  margin-left:2%;
  background-color: rgb(216, 208, 98);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
}
img{
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}
#imgOutcomeAndIncome{

  object-position: 80% 100%;
  margin-top: 10%;
  margin-left: 45%;
}
#longImage{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  float:left;
  max-height: 100px;
  max-width: 100px;

}
#exchangeImage{

  max-height: 70px;
  max-width: 70px;
  margin-top: 10%;
  margin-left: 40%;
}
p{

  font-family: 'Roboto';
  font-size: 210%;
  text-align: center;
  font-weight: bold;
}
#p{

  font-family: 'Roboto';
  width:60%;
  margin-top: 7.5%;
  margin-bottom: 10%;
  float: left;

}
a{
  color: inherit;
  text-decoration: inherit;
}
#backImage{
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  padding: 0;
  top:1%;
  left:1%;
}
/*income & outcome form*/
#formBox{
  align-content: center;
  padding-top:10%;
}
.inputText{
  background-color: inherit;
  text-align: center;
  border:none;
  border-bottom:10px solid;
  max-width: 420px;
  max-height: 200px;
  height: auto;
  width: auto;
}
#submit{
  margin:2%;
  background-color: inherit;
  text-align: center;
  border: solid;
  height: 3%;
  width: 10%;
}

