<html lang="en">

<HEAD>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDEX</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</HEAD>

<BODY>
<div>

  <a routerLink="/i" routerLinkActive="active">
    <div id="incomeDiv">
      <img id="imgOutcomeAndIncome" src="../assets/img/income.png" alt="income-image">
      <p>Add new income</p>
    </div>
  </a>
  <a routerLink="/outgoing" routerLinkActive="active">
    <div id="outcomeDiv">
      <img id="imgOutcomeAndIncome" src="../assets/img/outcome.png" alt="outcome-image">
      <p>Add new outcome</p>
    </div>
  </a>
  <a href="ratio.html">
    <div id="smallDiv">
      <img id="exchangeImage" src="../assets/img/Currency.png" alt="exchange-image">
      <p>Exchange</p>
    </div>
  </a>
  <a routerLink="/list">
    <div id="longDiv">
      <img id="longImage" src="../assets/img/list.png" alt="list-image">
      <p id="p">List on all incomes and outcomes</p>
    </div>
  </a>
  <a>
    <div id="setingsDiv">
      <img id="exchangeImage" src="../assets/img/setting.png"  alt="TMP">
      <p>SETINGS</p>
    </div>
  </a>
</div>
<div>
<router-outlet></router-outlet>
</div>
</BODY>

</html>
