<html lang="en" xmlns:th="http://www.thymeleaf.org">

<HEAD>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <style>


    </style>

</HEAD>

<BODY>
    <div id="mainDiv">

        <a href="income.html" th:href="@{http://localhost:8080/income}">
            <div id="bigDiv">
                <img id="image1" th:src="@{/style/images/income.png}" alt="income-image">
                <p>Add new income</p>
            </div>
        </a>
        <a href="outcome.html" th:href="@{http://localhost:8080/outcome}">
            <div id="bigDiv1">
                <img id="imgOutcome" th:src="@{/style/images/outcome.png}" alt="outcome-image">
                <p>Add new outcome</p>
            </div>
        </a>
        <a href="google.com" >
            <div id="smallDiv">
                <img id="exchangeImage" th:src="@{/style/images/Currency.png}" alt="exchange-image">
                <p>Exchange</p>
            </div>
        </a>
        <a href="list.html" th:href="@{http://localhost:8080/list}">
            <div id="longDiv">
                <img id="longImage" th:src="@{/style/images/list.png}" alt="list-image">
                <p>List on all incomes and outcomes</p>
            </div>
        </a>

    </div>
</BODY>

</HTML>
