<HTML xmlns:th="http://thymeleaf.org">

<HEAD>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    </style>

</HEAD>

<BODY>
<div id="mainDiv">

    <a href="index.html" th:href="@{http://localhost:8080/index}">

        <img id="backImage" src="back.png" th:src="@{/style/images/back.png}">

    </a>
<br>


    <table>
        <thead>
        <tr>
            <th>Added by:</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="outgoing : ${outgoing}">
            <td th:text="${outgoing.users}"></td>
            <td th:text="${outgoing.amount}"></td>
        </tr>
        </tbody>
    </table>

</div>
</BODY>

</HTML>
