<HTML xmlns:th="http://thymeleaf.org">

<HEAD>

  <link rel="stylesheet" th:href="@{/style/main.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</HEAD>

<BODY>
<div id="formDiv">
  <a href="index.html" th:href="@{http://localhost:8080/index}">
  </a>
  <div id="formBox">
    <p>Insert all data about income</p>
    <form (ngSubmit)="onSubmit()" #incomeForm="ngForm">
      <input type="number"  name ="amount" [(ngModel)]="income.amount" id="inputForForm" placeholder="Amount" required #users="ngModel"><br>
      <input type="user" name="users" [(ngModel)]="income.users"  id="inputForForm" placeholder="User" required #name="ngModel"><br>
      <input type="text" name="groupReason" [(ngModel)]="income.groupReason" id="inputForForm" placeholder="Group Reason" required #groupReason="ngModel"><br>
      <input type="text" name="description" [(ngModel)]="income.description" id="inputForForm" placeholder="Description" required #description="ngModel"><br>

      <input type=submit id="submitForForm" value="SEND"><br>
    </form>
  </div>
</div>
</BODY>

</HTML>
